<div class="container">
  <div class="container">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <form [formGroup]="notebookPageForm">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input
                formControlName="content"
                placeholder="Enter your notes for the day"
                class="form-control form-control-lg"
                type="text">
            </fieldset>
          </fieldset>
        </form>
        <p class="text-xs-center">
          <a [routerLink]="['/pages/1']" class="btn btn-primary" (click)="submitForm()">Previous</a>
          <a [routerLink]="['/pages/2']" class="btn btn-primary" (click)="submitForm()">Next</a>
        </p>
      </div>

    </div>
  </div>
</div>
