<div class="container">
  <div class="container">
    <div class="row">

      <div class="col-md-10 offset-md-2 col-xs-12">
        <form [formGroup]="notebookPageForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input
                formControlName="content"
                placeholder="Enter your notes for the day"
                class="form-control form-control-lg"
                type="text">
            </fieldset>
          </fieldset>
          <button class="btn btn-primary" type="submit">Save</button>
        </form>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-10 offset-md-2 col-xs-12">
        <p class="text-md-left">
          <a [routerLink]="['/pages', this.id]" class="btn btn-primary" (click)="previous()">Previous</a>
          <a [routerLink]="['/pages', this.id]" class="btn btn-primary" (click)="next()">Next</a>
        </p>
      </div>
    </div>
  </div>
</div>
