<div class="container">
  <div class="container">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <p class="text-xs-center">
          <a [routerLink]="['/previous']"></a>
          <a [routerLink]="['/next']"></a>
        </p>
        <form [formGroup]="notebookPageForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input
                formControlName="content"
                placeholder="Enter your notes for the day"
                class="form-control form-control-lg"
                type="text">
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
            </button>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
